<div class="container">
	<div class="row rowcont">
		<h2 class="col-sm-9">Проект: {{project.projectName}}</h2>
		<div class="col-sm-3"><a class="btn btn-primary button-bottomright" href="/projectlist">Вернуться к списку проектов</a></div>
	</div>
	<div class="row rowcont">
		<h4 class="col-sm-12">Банк: {{project.bankName}}</h4>
	</div>
	<div class="row rowcont">
		<div class="col-sm-4">Контактное лицо: {{project.contactPersonName}}</div>
		<div class="col-sm-8">Директор: {{project.director}}</div>
	</div>
	<div class="row rowcont">
		<div class="col-sm-12">{{project.phoneFaxes}}</div>
	</div>
	<div class="row rowcont">
		<div class="col-sm-3"></div>
		<h2 class="col-sm-6">Список задач</h2>
		<div class="col-sm-3"><button class="btn btn-primary button-bottomright" (click)="add_new_task()">Добавить новый задачу</button></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<dx-data-grid #taskGrid
						  id="taskGridContainer"
						  [dataSource]="tasks"
						  [allowColumnReordering]="true"
						  [allowColumnResizing]="true"
						  [columnAutoWidth]="true"
						  [columnMinWidth]="20"
						  (onRowPrepared)="onRowPrepared($event)">

				<dxo-filter-row [visible]="true"></dxo-filter-row>
				<dxo-selection mode="multiple"></dxo-selection>
				<dxo-header-filter [visible]="true"></dxo-header-filter>
				<dxo-search-panel [visible]="true"
								  [width]="240"
								  placeholder="Поиск..."></dxo-search-panel>
				<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
				<dxo-column-fixing [enabled]="true"></dxo-column-fixing>

				<dxi-column cellTemplate="editTemplate" [width]="50"></dxi-column>
				<dxi-column cellTemplate="deleteTemplate" [width]="50"></dxi-column>
				<dxi-column cellTemplate="taskFilesTemplate" [width]="50"></dxi-column>

				<dxi-column dataField="taskID" caption="ID" [width]="50"></dxi-column>
				<dxi-column dataField="taskName" caption="Название задачи"></dxi-column>
				<dxi-column dataField="priority" caption="Приоритет"></dxi-column>
				<dxi-column dataField="responsiblePersonName" caption="Ответственный"></dxi-column>
				<dxi-column dataField="upToDate" caption="В срок до" dataType="date" format="dd.MM.yyyy" ></dxi-column>
				<dxi-column dataField="statusName" caption="Статус"></dxi-column>
				<dxi-column dataField="notes" caption="Примечание"></dxi-column>
				<dxi-column dataField="responseAction" caption="Ответное действие"></dxi-column>
				<dxi-column dataField="responsiblePersonPhoneFaxes" caption="Тел. Отв-го"></dxi-column>
				<dxi-column dataField="responsiblePersonEmails" caption="E-mail Отв-го"></dxi-column>

				<dxo-paging [pageSize]="10"></dxo-paging>
				<dxo-pager [showPageSizeSelector]="true"
						   [allowedPageSizes]="[10, 25, 50]"
						   [showInfo]="true">
				</dxo-pager>

				<div *dxTemplate="let t of 'editTemplate'">
					<button class="btn btn-warning btn-sm"><span class="dx-icon-edit" (click)="edit_task(t.data, $event)"></span></button>
				</div>
				<div *dxTemplate="let t of 'deleteTemplate'">
					<button class="btn btn-danger btn-sm"><span class="dx-icon-trash" (click)="delete_task(t.data, $event)"></span></button>
				</div>
				<div *dxTemplate="let tf of 'taskFilesTemplate'">
					<button class="btn btn-default btn-sm" (click)="taskfiles(tf.data, $event)"><span class="dx-icon-folder"></span></button>
				</div>
			</dx-data-grid>
			<dx-color-box #colorBox
						  value="rgb(255, 255, 255)"
						  (onClosed)="onChangeColor($event)">
			</dx-color-box>
		</div>
	</div>
</div>
