<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" (click)="close()">&times;</button>
			<h4 class="modal-title">Удалить персону</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="alert alert-info">
					<span>Удалить персону "{{person.fio}}"?</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" (click)="confirm()">Удалить</button>
			<button type="button" class="btn btn-default" (click)="close()">Отменить</button>
		</div>
	</div>
</div>