<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" (click)="close()">&times;</button>
			<h4 class="modal-title">Файлы прикрепленные проекту {{project.projectName}}</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<dx-data-grid #projectFilesGrid
							  id="projectFilesGridContainer"
							  [dataSource]="projectFiles"
							  [columnAutoWidth]="true"
							  [columnMinWidth]="20">
					
					<dxi-column cellTemplate="deleteTemplate" [width]="50"></dxi-column>
					<dxi-column dataField="filePath" caption="Путь к файлу"></dxi-column>
					<dxi-column cellTemplate="chooseTemplate" [width]="50"></dxi-column>

					<div *dxTemplate="let pf of 'deleteTemplate'">
						<button class="btn btn-danger btn-sm" (click)="delete_projectfile(pf.data)"><span class="dx-icon-trash"></span></button>
					</div>

					<div *dxTemplate="let pf of 'chooseTemplate'">						
						<input #selFile name="selFile" type="file" (change)="onFilePathChanged($event,pf.data)" style="display:none"/>
						<button class="btn btn-default btn-sm" (click)="selFile.click()"><span class="dx-icon-download"></span></button>
					</div>
				</dx-data-grid>
			</div>
			<div>
				<button type="button" class="btn btn-primary" (click)="addnew()">Добавить запись</button>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-warning" (click)="confirm()">Изменить данные</button>
			<button type="button" class="btn btn-default" (click)="close()">Отменить</button>
		</div>
	</div>
</div>