<div class="container">
	<div class="row rowcont">
		<h2 class="col-sm-4">Список проектов</h2>
		<div class="col-sm-6"></div>
		<div class="col-sm-2 bottom-right button-bottomright"><button class="btn btn-primary" (click)="add_new_project()">Добавить новый проект</button></div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<dx-data-grid #projectGrid
						  id="projectGridContainer"
						  [dataSource]="projects"
						  [allowColumnReordering]="true"
						  [allowColumnResizing]="true"
						  [columnResizingMode]="nextColumn"
						  [columnAutoWidth]="true"
						  [columnMinWidth]="20">

				<dxo-filter-row [visible]="true"
								[applyFilter]="auto"></dxo-filter-row>
				
				<dxo-header-filter [visible]="true"></dxo-header-filter>
				<dxo-search-panel [visible]="true"
								  [width]="240"
								  placeholder="Поиск..."></dxo-search-panel>
				<dxo-column-chooser [enabled]="true"></dxo-column-chooser>
				<dxo-column-fixing [enabled]="true"></dxo-column-fixing>

				<dxi-column cellTemplate="editTemplate"></dxi-column>
				<dxi-column cellTemplate="deleteTemplate"></dxi-column>
				<dxi-column cellTemplate="showTaskTemplate"></dxi-column>

				<dxi-column dataField="projectID" caption="ID"></dxi-column>
				<dxi-column dataField="projectName" caption="Название проекта"></dxi-column>
				<dxi-column dataField="bankName" caption="Банк"></dxi-column>
				<dxi-column dataField="contactPersonName" caption="Контактное лицо"></dxi-column>
				<dxi-column dataField="director" caption="Директор"></dxi-column>
				<dxi-column dataField="phoneFaxes" caption="Телефон/факс"></dxi-column>

				<dxo-paging [pageSize]="10"></dxo-paging>
				<dxo-pager [showPageSizeSelector]="true"
						   [allowedPageSizes]="[10, 25, 50]"
						   [showInfo]="true">
				</dxo-pager>    

				<div *dxTemplate="let p of 'editTemplate'">
					<button class="btn btn-warning btn-sm" (click)="edit_project(p.data)"><span class="dx-icon-edit"></span></button>
				</div>
				<div *dxTemplate="let p of 'deleteTemplate'">
					<button class="btn btn-danger btn-sm" (click)="delete_project(p.data)"><span class="dx-icon-trash"></span></button>
				</div>
				<div *dxTemplate="let p of 'showTaskTemplate'">
					<a class="btn btn-default btn-sm dx-icon-menu" href="tasklist/{{p.data.projectID}}"></a>
				</div>
			</dx-data-grid>
		</div>
	</div>
</div>
