<div class="container">
	<div class="row rowcont">
		<h2 class="col-sm-4">Список проектов</h2>
		<div class="col-sm-6"></div>
		<div class="col-sm-2 bottom-right button-bottomright"><button class="btn btn-primary" (click)="add_new_project()">Добавить новый проект</button></div>
	</div>
	<div class=""></div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID Проекта</th>
				<th>Название проекта</th>
				<th>Банк</th>
				<th>Контактное лицо</th>
				<th>Директор</th>
				<th>Телефон/факс</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let project of projects">
				<td>{{project.projectID}}</td>
				<td>{{project.projectName}}</td>
				<td>{{project.bankName}}</td>
				<td>{{project.contactPersonName}}</td>
				<td>{{project.director}}</td>
				<td>{{project.phoneFaxes}}</td>
				<td><button class="btn btn-default btn-sm">Список задач</button></td>
				<td><button class="btn btn-warning btn-sm" (click)="edit_project(project)">Изменить</button></td>
				<td><button class="btn btn-danger btn-sm" (click)="delete_project(project)">Удалить</button></td>
			</tr>
		</tbody>
	</table>
</div>